<!DOCTYPE html>
<html lang="en">
<html xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Purchase successful</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<style>
    body {
        background: #f5f7fa;
        color: black;
        padding-top: 30px;
        text-align: center;
    }

    h1  {
        font-weight: 900;
        color: black;
        margin-bottom: 20px;
        text-align: center;
    }

</style>
<body>
<h1>Purchase successful</h1>

<a href="http://localhost:8080/">Link to Main Screen</a>
</body>
</html>